html
{
	margin: 0px;
	height: 100%;
	padding: 0px;
}
body
{
	cursor: default;
	background-color: #F0F0F0;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	margin: 0px;
	height: 100%;
	padding: 0px;
}
input,
textarea,
button,
select
{
	font-family: Verdana, sans-serif;
	font-size: 1em;
}
a:not(.btn)
{
	color: #915333;
	text-decoration: underline;
}
a:not(.btn):hover
{
	color: #B6321E;
	text-decoration: none;
}
a[disabled]
{
	pointer-events: none;
}


/**
 * Overwritte/extend bootstrap styles
 */
.label
{
	font-size: 1em;
	font-weight: normal;
	padding: 4px 7px;
}
.label.label-tag
{
	background: #F78233;
}


/**
 * Tags input field
 */
div.tags-input
{
	cursor: text;
	height: auto !important;
}
div.tags-input input
{
	border: none;
	outline: none;
	border: none;
	line-height: auto !important;
	height: 100%;
	vertical-align: text-top;
	padding: 0px;
	margin: 0px 0px 0px 7px;
}
div.tags-input span.tag
{
	display: inline-block;
	border: 1px solid #D74900;
	margin: 0px 4px 2px 0px;
	padding: 2px 7px;
	border-radius: 3px;
	box-shadow: rgba(255,255,255,0.3) 0px 0px 2px inset,
		rgba(0,0,0,0.5) 0px 0px 3px;
	/*background: #F78233 linear-gradient(#F78233,#EF5703);*/
	color: #541d02;
	background: #F78233;
	font-size: 0.9em;
	cursor: default;
}
div.tags-input span.tag span[data-role=close]:before
{
	cursor: pointer;
	font-size: 0.9em;
	display: inline-block;
	padding: 2px 1px 2px 5px;
}
div.tags-propals
{
	z-index: 100;
	margin-top: 5px;
	margin-left: 5px;
}
div.tags-propals ul
{
	box-shadow: rgba(0,0,0,0.3) 0px 1px 7px;
	background-color: #ffffff;
	min-width: 150px; 
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin: 4px 0px;
	list-style: none;
	padding: 0px;
}
div.tags-propals ul li
{
	list-style: none;
	padding: 3px 7px;
	margin: 0px;
}


/**
 * Login page
 */
div.login-frame
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: transparent url('/img/common/pattern.png') no-repeat center center;
	background-size: 100% auto;
}
div.login-frame div.login-box
{
	border-radius: 4px;
	background-color: #ffffff;
	width: 400px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 12px;
	padding: 30px;
	box-sizing: border-box;
	margin: 60px auto;
}
div.login-frame div.login-box h1
{
	font-size: 1.7em;
	font-weight: 300;
	padding: 0px 0px 15px 0px;
	margin: 0px;
}
div.login-frame div.login-box div.field
{
	margin: 7px 0px;
}
div.login-frame div.login-box div.submit
{
	text-align: center;
	padding: 10px 0px 0px 0px;
}


/**
 * Default page theme
 */
nav.page
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 250px;
	padding: 0px;
	margin: 0px;
	background-color: #1c0a07;
}
nav.page header
{
	background-color: #B6321E;
	color: #ffffff;
	padding: 20px 15px;
	line-height: 2.2em !important;
	font-size: 1.1em;
}
nav.page header div.userpic
{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	width: 48px;
	height: 48px;
	float: left;
	display: block;
	padding: 0px;
	margin: -4px 16px 0px 0px;
	border-radius: 10px;
}
nav.page header h1
{
	margin: 0px 0px 7px 0px;
	padding: 0px;
	font-size: 1.2em;
}
nav.page header h2
{
	margin: 0px;
	font-size: 1em;
	color: #e0e0e0;
}
nav.page ul
{
	display: block;
	overflow: auto;
	margin: 10px 0px;
	padding: 0px;
	list-style: none;
}
nav.page ul.admin
{
	display: block;
	background: linear-gradient(rgba(28,10,7,0) 0px,rgba(28,10,7,1) 15px,rgba(28,10,7,1));
	position: absolute;
	padding: 20px 0px 0px 0px;
	margin: 10px 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
nav.page ul li
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
nav.page ul li a
{
	display: block;
	color: #afafaf;
	text-decoration: none;
	padding: 7px 24px;
	margin: 0px;
}
nav.page ul li a:hover
{
	background-color: rgba(255,255,255,0.1);
	color: #ffffff;
}
div.page-container
{
	position: absolute;
	left: 250px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	overflow: auto;
	padding: 30px 60px;
	box-shadow: rgba(0,0,0,0.8) 0px 0px 3px;
}


/**
 * Common styles in .page-container
 */
div.page-container h1.title
{
	font-weight: 300;
	color: #777777;
	font-size: 1.7em;
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
div.page-container h2.title
{
	color: #333333;
	font-size: 1.2em;
	margin: 10px 0px;
	padding: 0px;
}
div.page-container h3.title
{
	color: #000000;
	font-size: 1.1em;
	margin: 10px 0px;
	padding: 0px;
	font-weight: bold;
}
div.page-container div.card
{
	background-color: #ffffff;
	box-shadow: rgba(0,0,0,0.1) 0px 2px 2px;
	border-radius: 2px;
	padding: 15px 30px;
	margin-bottom: 30px;
}
.checkbox-line label
{
	font-weight: normal;
	vertical-align: top;
	padding: 2px 0px 0px 5px;
}
.checkbox-line input[type=checkbox]
{
	vertical-align: top;
}
.hidden-input-file
{
	width: 1px;
	height: 1px;
	top: 0px;
	left: 0px;
	visibility: hidden;
	position: absolute;
}
.text-small
{
	font-size: 0.85em;
}


/**
 * Default table style
 */
table.default
{
	border-spacing: 1px;
	border-collapse: separate;
	margin: 10px auto;
	width: 100%;
	box-sizing: border-box;
}
table.default thead tr th
{
	background-color: #e0e0e0;
	padding: 7px 15px;
	font-weight: 300;
	color: #777777;
}
table.default tbody tr td
{
	padding: 7px 15px;
	background-color: #ffffff;
}
table.default tbody tr.hidden
{
	display: none;
}
table.default tbody tr:nth-child(odd) td
{
	background-color: #f5f5f5;
}
table.default tbody tr:hover td
{
	background-color: #efefef;
}
table.default tbody tr td.icon
{
	width: 16px;
	padding: 7px;
}
table.default tbody tr td.button
{
	text-align: center;
	white-space: nowrap; 
	width: 1%;
	padding: 4px 7px;
}
table.default.clickable tbody tr td
{
	cursor: pointer;
}


/**
 * Default input style
 */
input.default,
select.default,
textarea.default
{
	display: block;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	outline: none;
	border-radius: 4px;
	padding: 7px 15px;
	width: 100%;
	box-sizing: border-box;
}
div.input-group
{
	display: table;
	margin: 1em 0px;
	width: auto !important;
	box-sizing: border-box;
	vertical-align: top;
}
div.input-group.input-group-line
{
	display: inline-table;
	vertical-align: top;
	margin-right: 15px;
}
div.input-group.group-left
{
	float: left;
	margin-right: 15px;
}
div.input-group.group-right
{
	float: right;
}
div.input-group div.label
{
	background-color: #f0f0f0;
	padding: 4px 12px;
	display: table-cell;
	border: 1px solid #c0c0c0;
	color: #333333;
	vertical-align: middle;
	width: 1%;
	white-space: nowrap;
}
div.input-group input,
div.input-group select
{
	display: table-cell;
	width: auto !important;
	max-width: 400px;
	border-radius: 0px;
	vertical-align: middle;
	z-index: 0 !important;
}
div.input-group > *
{
	border-left: none !important;
	border-radius: 0px;
}
div.input-group > *:first-child
{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #c0c0c0 !important;
}
div.input-group > *:last-child
{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}


/**
 * Table
 */
.table
{
	display: table;
}
.table .cell
{
	display: table-cell;
}


/**
 * Avatar in table
 */
table div.avatar
{
	width: 32px;
	height: 32px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}


/**
 * Modal window
 */
div.wmodal-cache
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
}
div.wmodal-frame
{
	background-color: #ffffff;
	box-shadow: rgba(0,0,0,0.5) 0px 4px 7px;
	position: absolute;
	top: 40px;
	opacity: 0;
	border-radius: 3px;
}
div.wmodal-frame div.wmodal-title
{
	font-size: 1.3em;
	padding: 7px 30px 7px 15px;
	border-bottom: 1px solid #cccccc;
	color: #777777;
	background-color: #f9f9f9;
	border-radius: 3px 3px 0px 0px;
}
div.wmodal-frame div.wmodal-content
{
	padding: 15px 30px;
}


/**
 * Dropdown
 */
div.dropdown-template
{
	padding-top: 14px;
	position: absolute;
	display: none;
	white-space: nowrap;
}
div.dropdown-template ul
{
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	list-style: none;
	margin: 0px;
	padding: 4px 0px;
	box-shadow: rgba(0,0,0,0.2) 0px 5px 7px;
}
div.dropdown-template ul li
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
div.dropdown-template ul li.separator
{
	border-top: 1px solid #efefef;
	margin: 4px 7px;
}
div.dropdown-template ul li a
{
	display: block;
	text-decoration: none;
	padding: 3px 12px;
	color: #555555;
}
div.dropdown-template ul li a:hover
{
	background-color: #f0f0f0;
	color: #111111;
}


/**
 * About page style
 */
blockquote.thanks
{
	font-size: 1.2em;
}
blockquote.thanks span
{
	font-size: 0.8em;
}


/**
 * Comments blockquote
 */
blockquote.comment
{
	font-size: 1em;
	margin-bottom: 30px;
	background-color: #f5f5f5;
	padding: 7px 30px;
}
blockquote.comment small
{
	font-size: 1em;
	text-align: right;
}
blockquote.comment small:before
{
	display: none;
}
blockquote.comment div.userpic
{
	width: 100px;
	border-right: 1px solid #e5e5e5;
	padding: 0px 30px 0px 0px;
}
blockquote.comment div.userpic div.avatar
{
	width: 100px;
	height: 100px;
	margin: 20px 0px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	border-radius: 100px;
}
blockquote.comment div.table
{
	padding: 0px;
	margin: 0px;
}
blockquote.comment div.cell
{
	vertical-align: top;
}
blockquote.comment div.text
{
	padding: 0px 0px 0px 30px;
}


/**
 * Overview page syle
 */
div.page-container div.columns
{
	display: table;
	width: 100%;
	border-spacing: 20px;
}
div.page-container div.columns.center
{
	width: auto;
	margin: auto;
}
div.page-container div.columns div.card
{
	display: table-cell;
	width: 200px;
}


/**
 * User edition
 */
form.form-account .table .cell
{
	vertical-align: top;
}
form.form-account div.userpic
{
	padding: 0px 15px 7px 0px;
	border-right: 1px solid #f0f0f0;
}
form.form-account div.userpic div.avatar
{
	width: 150px;
	height: 150px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	border-radius: 150px;
}
form.form-account div.infos
{
	min-width: 300px;
	max-width: 600px;
	padding-left: 15px;
}
form.form-account div.infos h1
{
	font-size: 1.4em;
	font-weight: normal;
	color: #777777;
	padding: 7px 0px;
	margin: 0px;
}


/**
 * Orders page
 */
div.order
{
	background-color: #e5e5e5;
	border: 1px solid #cccccc;
	padding: 7px 15px;
	margin: 7px 0px;
	border-radius: 4px;
}
div.order h3
{
	padding: 10px 0px;
	margin: 0px 0px;
	font-weight: 300;
	font-size: 1.2em;
}
div.order p
{
	padding: 0px;
	margin: 4px 0px;
}
div.order.order-first
{
	background-color: #ffffff;
	border-color: #c0c0c0;
}
